<div class="panel panel-primary" style="text-align:center">    
  <div class="panel-body">
      <div class="form-group" style="text-align:left;">                                                                  
        <table *ngIf="catsByPersonGender != null" >          
          <tbody>
              <tr *ngFor="let petsByPersonGender of catsByPersonGender.petsByPersonGender">
                <table>
                  <tr>
                      <td style="background-color: gray; color: white">
                          {{ genders[petsByPersonGender.gender] }}
                      </td>
                  </tr>
                  <tr *ngFor="let cat of petsByPersonGender.pets">
                      <td>
                        {{ cat.name }}
                      </td>
                  </tr>
                </table>                                
              </tr>                            
          </tbody>          
        </table>
      </div>        
  </div>
</div>